.section-body-huongdan .row-title-huongdan{
    padding:0px 0px 40px 0px;
}

.section-body-huongdan .row-title-huongdan .column-title-huongdan h1 {
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    padding: 10px;
    color: #333;
    box-sizing: border-box;
    margin-top: 5px;
    line-height: 32px;
    text-transform: uppercase;
  }
  
  .section-body-huongdan .row-column-content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
  
  .section-body-huongdan .image img {
    box-shadow: 5px 5px 5px #ccc;
  }
  
  .section-body-huongdan .text .uk-button {
    background: #52aa54;
    color: #fff;
    transition: background 0.5s ease-out;
    padding: 6px 10px;
    text-decoration: none;
  }
  
  .section-body-huongdan .text .uk-button:hover {
    background-color: #ff531a;
  }
  
  .section-body-huongdan .text .mo-ta,
  .icon-clock {
    font-size: 13px;
  }