
.body-background{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #333;
    background: url(../upload/user-bg.png) no-repeat 0px 0px #155695;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
}
.body-background .container {
    padding: 90px 90px 0px 90px;
}
.body-background .container-register {
    padding: 40px 90px 0px 90px;
}

.body-background .row-login .login-col h5 strong{
    color: #EBD812;
}
.body-background .row-login .login-col h5 {
    color: #fff;
}
.body-background .row-login .login-col .ul-col-left{
    padding-left:10px;
    list-style: none;
}

.body-background .row-login .login-col .ul-col-left a{
    text-decoration: none;
    color: white;
}
.body-background .row-login .login-col .ul-col-left li{
    margin: 15px 0px;
}
.body-background .row-login .login-col .ul-col-left li::before{
    content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

hr {
    border: 0;
    height: 2px;
    width:70%;
    background: #1e5799;
    background: linear-gradient(to right,  #FFE456 30%,#fff 1%);
    margin: 15px 0px 30px;
}

.form-signin .form-item {
    float: left;
    margin-right: 20px;
    max-width: 220px;
    background: white;
    border-radius: 3px;
    margin-top: 0px;
}

.form-signin .form-item input{
    width: 78%;
    float: left;
    border: none;
    text-indent: 5px;
    border-radius: 5px;
    padding: 4px 0px 8px;
}

.form-signin .form-item i{
    float: right;
    width: 20%;
    text-align: center;
    line-height: 33px;
}

.form-signin .form-actions .form-submit{
    background: #153c61;
    color: white;
    border: none;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.form-signin .form-item-remember-me {
    background: no-repeat;
    max-width: none;
    float: left;
    color: white;
    margin: 10px 0px;
}

.form-signin .form-item-remember-me input {
    width: auto;
    float: left;
    height: 18px;
    margin-right: 5px;
}

.form-signin .forgot-password {
    display: inline-block;
    margin-left: 20px;
    color: #f4c533;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}
.form-signin .forgot-password::before{
    content: "|";
    margin-right: 20px;
}

.login-use-social {
    float: left;
    width: 95%;
    margin-bottom: 20px;
}
.login-use-social .btn-login {
    float: left;
    width: 46%;
    margin-right: 4%;
}
.login-use-social .btn-facebook {
    /* padding: 10px; */
    background-color: #3b5998;
}
.login-use-social .btn-google {
    /* padding: 10px; */
    background-color: #DF4A32;
}


.login-use-social .btn-login i {
    color: white;
    font-size: 15px;
    padding: 10px;
    border-right: 2px solid #2f477a;
}
.login-use-social .btn-google i{
    border-right: 2px solid #B33B28;
}

.login-use-social .btn-login a  {
    text-decoration: none;
}
.login-use-social .btn-login a span {
    color: white;
    padding-left: 10px;
}

.login-col .custom-i{
    color:white;
    font-size: 90%;
}

.form-register .form-item {
    float: left;
    background: white;
    border-radius: 3px;
    width: 92%;
    margin: 10px 0px;
}
.form-register .form-item select{
    width: 95%;
    height: 35px;
    border: none;
}
.form-register .captcha{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.form-register .form-item input{
    width: 85%;
    float: left;
    border: none;
    text-indent: 5px;
    border-radius: 5px;
    padding: 4px 0px 8px;
}

.form-register .form-item i{
    float: right;
    width: 15%;
    text-align: center;
    line-height: 33px;
}

.form-register .form-actions .form-submit{
    background: #153c61;
    color: white;
    border: none;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.form-register .form-item-remember-me {
    background: no-repeat;
    max-width: none;
    float: left;
    color: white;
    margin: 10px 0px;
}

.form-register .form-item-remember-me input {
    width: auto;
    float: left;
    height: 18px;
    margin-right: 5px;
}

.form-register .forgot-password {
    display: inline-block;
    margin-left: 20px;
    color: #f4c533;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.form-register .form-submit{
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #ccc;
    font-weight: bold;
    width: 92%;
    transition: background .5s ease-out;
    padding: 7px 0px;
    cursor: pointer;
    background: #337ab7;
}
.form-register .form-submit:hover{
    background: #14c383;
}
/* .form-register .forgot-password::before{
    content: "|";
    margin-right: 20px;
} */

/**************MOBI****************/
@media only screen and (max-width: 768px) {
    .body-background .container {
        padding: 8px;
    }
}   
@media only screen and (max-width: 575px) {
    .body-background .container {
        padding: 25px;
    }
    .login-use-social .btn-login {
        float: none;
        width: 100%;
        margin-right: none;
        margin-bottom: 10px;
    }
    .form-signin .form-item {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .form-signin .form-actions .form-submit{
        height: 47px;
        width: 148px;
    }
}  



/* quen-mat-khau */
.action-use-forgot-password{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    list-style: none;
    padding: 0px;
}
.action-use-forgot-password span {
    display: inline-block;
    margin-right: 10px;
    color: white;
}
.action-use-forgot-password button {
    color: white;
    background: #FF9800;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    border:0px;
}

.form-quen-mat-khau .form-email-dang-ky{
    display: none;
}
.form-quen-mat-khau .form-so-dien-thoai{
    display: block;
}
.email-dang-ky-block .form-email-dang-ky{
    display: block;
}

.email-dang-ky-block .form-so-dien-thoai{
    display: none;
}

.email-dang-ky-none .form-email-dang-ky{
    display: none;
}
.email-dang-ky-none .form-so-dien-thoai{
    display: block;
}
/* .email-dang-ky-none .form-so-dien-thoai{
    display: block;
} */














