
.dia-chi-giao-hang-table{
    overflow-x: auto;
}

.dia-chi-giao-hang-table table{
    width: 100%;
}

.dia-chi-giao-hang-table thead{
    width: 100%;
    background-color: #185493;
}

.dia-chi-giao-hang-table thead tr th{
    color: white;
    font-weight: 400;
    font-size: 90%;
    padding: 5px;
}
.dia-chi-giao-hang-table tbody{
    border: 1px solid #ccc;
    border-right: 0px;
}

.dia-chi-giao-hang-table tbody .color{
    background-color: #f9f9f9;
}
.dia-chi-giao-hang-table tbody tr{
    background-color: #fff;
}
.dia-chi-giao-hang-table tbody tr td{
    padding: 5px;
    font-size: 90%;
}

.dia-chi-giao-hang-table tbody tr td i{
    color: #000;
}





.thong-tin-ca-nhan .dia-chi-giaohang-middle{
    float: left;
    width: 100%;
    margin: 10px 0px;
}

.thong-tin-ca-nhan .dia-chi-giaohang-middle .top-title{
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 90%;
}

.thong-tin-ca-nhan .dia-chi-giaohang-middle .top-title strong{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 85%;
}
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all{
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    padding: 10px;
}

.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single{
    float: left;
    width: 100%;
    padding: 5px 0px;
}
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single strong{
    float: left;
    width: 15%;
    font-size: 90%;
    font-weight: 500;
}

.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single strong sup{
    color: red;
    font-weight: 800;
}
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single input{
    float: left;
    width: 24%;
    font-size: 90%;
    font-weight: 500;
    border: 1px solid #ddd;
    height: 26px;
}
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single select{
    float: left;
    width: 12%;
    font-size: 90%;
    border: 1px solid #ddd;
    height: 26px;
}

.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single .tinh-thanh-pho{
    float: left;
    width: 24%;
}

.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single .tinh-thanh-pho .quan-huyen{
    float: left;
    width: 45%;
    margin-right:5%;
}
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single .tinh-thanh-pho .pho-phuong{
    float: left;
    width: 50%;
}

.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single-dob{
    float: left;
    width: 100%;
}
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single-dob strong{
    float: left;
    width: 15%;
    font-size: 90%;
    font-weight: 500;
}
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single-dob div{
    float: left;
    width: 24%;
}   
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single-dob div input{
    float: left;
    width: 100%;
    font-size: 90%;
    font-weight: 500;
    border: 1px solid #ddd;
    height: 26px;
}
.thong-tin-ca-nhan .dia-chi-giaohang-middle .input-all .input-single-dob div span{
    font-size: 70%;
}