.don-hang-ky-gui {
    background-color: #F2F4FA;
    padding: 20px 0px;
}

.don-hang-ky-gui .don-hang-ky-gui-top{
    border: 1px solid #e5e5e5;
    float: left;
    width: 100%;
    padding: 2px 0px;
}

.don-hang-ky-gui .don-hang-ky-gui-top .step-action{
    list-style: none;
}

.don-hang-ky-gui .don-hang-ky-gui-top .step-action li{
    float: left;
    width: 10%;
}

.don-hang-ky-gui .don-hang-ky-gui-top .step-action li a {
    color: black;
    text-decoration: none;
    font-size: 80%;
}

.don-hang-ky-gui .don-hang-ky-gui-top .step-action li a span {
    padding: 0px 5px;
    background-color: #07A8E6;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    font-size: 90%;
    margin-left: 5px;
}

.don-hang-ky-gui .don-hang-ky-gui-middle {
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.don-hang-ky-gui .don-hang-ky-gui-middle div{
    float: left;
    width: 16%;
    padding: 7px 0px;
}
.don-hang-ky-gui .don-hang-ky-gui-middle div input ,.don-hang-ky-gui .don-hang-ky-gui-middle div select{
    width: 80%;
    height: 30px;
    font-size: 80%;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
    border-radius: 5px;
    text-indent: 5px;
}
.don-hang-ky-gui .don-hang-ky-gui-middle div .custom-search-khieunai{
    background-color: #0092D0;
    color: white;
}
.don-hang-ky-gui .don-hang-ky-gui-middle div .custom-search-khieunai:hover{
    background-color: #14c383;
}

.don-hang-ky-gui .don-hang-ky-gui-bottom{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.don-hang-ky-gui .don-hang-ky-gui-bottom table{
    width: 100%;
}
.don-hang-ky-gui .don-hang-ky-gui-bottom table tr th {
    text-align: center;
    font-weight: 500;
    background-color: #0092D0;
    color: white;
    border-bottom: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 90%;
    padding: 5px 0px;
}

.don-hang-ky-gui .don-hang-ky-gui-bottom table tr td {
    text-align: center;
    font-size: 90%;
    padding: 5px 0px;
    border-bottom: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background-color: white;
}



@media only screen and (max-width: 1024px){
    .don-hang-ky-gui .don-hang-ky-gui-top .step-action li {
        width: 20%;
    }
}

@media only screen and (max-width: 768px){
    .don-hang-ky-gui .don-hang-ky-gui-top .step-action li {
        width: 25%;
    }
    .don-hang-ky-gui .don-hang-ky-gui-middle div {
        width: 33%;
    }
}

@media only screen and (max-width: 575px){
    .don-hang-ky-gui .don-hang-ky-gui-top .step-action li {
        width: 50%;
    }
    .don-hang-ky-gui .don-hang-ky-gui-middle div {
        width: 50%;
    }
}