.don-ky-gui{
    background-color: #F2F4FA;
}
.don-ky-gui ul.td-step {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 0px;
    margin-bottom: 10px;
}
.don-ky-gui ul.td-step li.active {
    background: #185493 none repeat scroll 0 0;
    color: #fff;
}
.don-ky-gui ul.td-step li.active:after {
    border-color: transparent #185493;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    content: "";
    position: absolute;
    right: -10px;
    top: 17px;
    z-index: 9999;
}
.don-ky-gui ul.td-step li {
    border-right: 1px solid #e5e5e5;
    float: left;
    list-style-type: none;
    margin-right: 10px;
    padding: 10px 30px 10px 10px;
    position: relative;
    color: #888;
    margin-bottom: 10px;
}
.don-ky-gui .table-don-ky-gui{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    font-size: 90%;
    margin-bottom: 20px;
}
.don-ky-gui .thuongdo-export-guiyeucau table {
    width: 100%;
}
.don-ky-gui .thuongdo-export-guiyeucau table tr th {
    background: #0092d0 none repeat scroll 0 0;
    border-bottom: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
.don-ky-gui .table-don-ky-gui #tbody-don-hang-ky-gui:hover {
    background-color: #D9EDF7;
}
.don-ky-gui .table-don-ky-gui #tbody-don-hang-ky-gui {
    background-color: #fff;
}
.don-ky-gui .table-don-ky-gui tr td {
    text-align: center;
    padding: 0px 20px;
}

.don-ky-gui .table-don-ky-gui  tr td span.stt {
    width: 25px;
    height: 25px;
    background: #185493;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    color: #fff;
    line-height: 25px;
}

.don-ky-gui .tvh-themmoi{
    text-decoration: none;
    font-size: 90%;
    color: #2881B2;
}
.don-ky-gui .tvh-themmoi:hover{
    color:red;
}

.don-ky-gui .card-donkygui .card-header{
    font-weight: 600;
    padding: 3px 10px;
}

.don-ky-gui .card-donkygui .card-body{
    padding: 10px;
    font-size: 90%;
}

.don-ky-gui .thuongdo-export-guiyeucau input.form-text, .thuongdo-export-guiyeucau select, .info-muahang select {
    max-width: 220px;
    border: 1px solid #ddd;
    padding: 6px 12px !important;
    height: 34px !important;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 5px;
}
.don-ky-gui a.recycle {
    color: #185493;
    font-size: 25px;
    margin-top: 4px;
    display: block;
}
.don-ky-gui .yeu-cau-khac .van-chuyen {
    background: #cfeefc;
    margin-bottom: 10px;
    padding: 5px;
}
.don-ky-gui .edit-hanghoa-item-1-van-chuyen div label .option {
    display: inline;
    font-weight: normal;
}

.don-ky-gui .gia-tri-hang-hoa-none {
    display: none;
}
.don-ky-gui a.tvh-themmoi img {
    max-width: 50px;
}

.don-ky-gui .submit-blue {
    background-color: #185493;
    margin-bottom: 10px !important;
    color: white;
    border: 0px;
    padding: 10px 30px;
    -webkit-transition: background .5s ease-out;
}
.don-ky-gui .submit-blue:hover {
    background-color: orange !important;
}

.don-ky-gui .luu-y  {
    background-color: #F5F5F5;
    font-size: 90%;
    color:red;
    padding: 8px;
}
.don-ky-gui .luu-y .title-luuy {
    font-weight: 600;
}
.don-ky-gui .truso-china {
    background: #EAF8FF;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
}

.don-ky-gui .addresscon {
    padding: 6px;
    background: url(../upload/addonebgs.png) repeat;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 80%;
}

.don-ky-gui .addresscon ul {
    padding: 20px 25px;
    background-color: #fff;
    margin: 0px;
}
.don-ky-gui .addresscon ul li {
    list-style-type: none;
    vertical-align: bottom;
    clear: both;
}
.don-ky-gui .addresscon ul strong {
    display: block;
    width: 130px;
}
.don-ky-gui .flo {
    float: left;
}
.don-ky-gui .addresscon ul li:after {
    clear: both;
    content: "";
    display: block;
}
.don-ky-gui .fa-map-marker-alt {
    color: #888;
}

@media only screen and (max-width: 1024px) {
    .don-ky-gui .table-don-ky-gui #tbody-don-hang-ky-gui .hinh-anh-don-ky-gui{
        padding: 0px;
    }
}

@media only screen and (max-width: 575px) {
    .don-ky-gui ul.td-step li {
        width: 100%;
    }
}