.row , .container{
  padding: 0px;
  margin: 0px;
}
img{
  width: 100%;
}

.section-header{
  float: left;
  width: 100%;
  background-image: url(../upload/header-dashboard.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background: #3e649b;

}
.section-header .section-header-left{
  float: left;
  width: 10%;
}
.section-header .section-header-left img{
  padding: 10px;
}
.section-header .section-right-custom{
  width: 90%;
  float: right;
  padding: 20px 10px 0px;
}
.section-header .section-right-custom .section-header-middle{
  float: left;
}
.section-header .section-right-custom .section-header-right{
  float: right;
}
.section-header .section-header-middle img{
  width: 4%;
}
  /* .section-header .section-header-right{
    float: right;
    width: 30%;
  } */

/* .section-header .section-header-right .section-header-right-custom {
  float: left;
  width: 100%;
} */

.section-header .section-header-right .section-header-right-custom .so-du{
  float: left;
  width: 25%;
  background: #275188;
    color: white;
    padding: 5px 10px;
    border-radius: 17px;
    border: 1px solid #516e96;
}
.section-header .section-header-right .section-header-right-custom .so-du img{
  width: 13%;
}

.section-header .section-header-right .section-header-right-custom .icon{
  float: left;
  width: 20%;
  padding:10px 0px 0px 10px;
}
.section-header .section-header-right .section-header-right-custom .icon i{
  color: white;
  font-size: 20px;
}

.section-header .section-header-right .section-header-right-custom .icon sup{
  background: red;
  color: white;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

.section-header .section-header-right .section-header-right-custom .avatar{
  float: left;
  width: 15%;
}
.section-header .section-header-right .section-header-right-custom .avatar img{
  border-radius: 99px;
  width: 50%;
}



/* section-body */

/* section-middle */

/* .section-body {

} */
.section-body .container-custom{
  float: left;
  width: 100%;
  background-color: #26518b;
}
.section-body .nav-left{
  float: left;
  width: 10%;
  background-image: url("../upload/dash-right-bg.png");
}
.section-body .nav-middle{
  float: left;
  width: 70%;
  background-color: white;
}
.section-body .nav-right{
  float: left;
  width: 20%;
}
.section-body .nav-middle .section-bottom{
  float: left;
  width: 100%;
  background-color: #F2F4FA;
  padding-bottom: 50px;
}

.section-body .nav-middle .section-bottom .column-inside-bottom{
  float: left;
  width: 16%;
  padding:3% 3% 0% 3%;
}

.section-body .nav-middle .section-bottom .column-inside-bottom .custom-text{
  text-align: center;
  padding-top: 10px;
  font-size: 80%;
  text-transform: uppercase;
  margin: 0px;
}

.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-header{
  background-color: #3E649B;
  background-image: url(../upload/header-dashboard.png);
  background-repeat: no-repeat;
}

.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-header .modal-title{
  color: white;
  text-align: center;
}
.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-header span{
  color: white;
}
.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-body{
  background-image: url(../upload/dash-right-bg.png);
  background-color: #254A85;
}
.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-body a {
  text-decoration: none;
}
.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-body .menu-1 p{
  background-color:#fff;
  padding: 10px 20px;
  font-size: 120%;
  color: black;
  border-radius:10px ;
}

.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-body .menu-2 p{
  background-color:#63B66D;
  padding: 10px 20px;
  font-size: 120%;
  color: white;
  border-radius:10px ;
}
.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-body .menu-3 p{
  background-color:#FF5A21;
  padding: 10px 20px;
  font-size: 120%;
  color: white;
  border-radius:10px ;
}
.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-body .menu-4 p{
  background-color:#DE0D3F;
  padding: 10px 20px;
  font-size: 120%;
  color: white;
  border-radius:10px ;
}

.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom .modal .modal-footer{
  background-color: #3E649B;
  background-image: url(../upload/header-dashboard.png);
  background-repeat: no-repeat;
}

.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom{
  width: 100%;
  border-radius: 10%;
  background-color: white;
  height: 132px;
}
.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom:hover{
  background: url(../upload/hover-li-dash-menu.png) no-repeat 0px 0px #264072;
}
.section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom img{
  padding: 20%;
}

.section-body .nav-middle .search-img-custom{
  float: left;
  width: 100%;
}

.section-body .nav-middle .search-img-custom .nav-middle-img{
  float: left;
  width: 20%;
}
.section-body .nav-middle .search-img-custom .nav-middle-img img{
  width: 50%;
}
.section-body .nav-middle .search-img-custom .input-group{
  float: left;
  width: 80%;
}
.section-body .nav-middle .search-img-custom .input-group .selectpicker{
  border-radius: 50px 0px 0px 50px;
  background-color: #E5E5E5;
  padding: 0px 10px;
  border: 0px;
}
.section-body .nav-middle .search-img-custom .input-group .input-group-append span{
  border-radius: 0px 50px 50px 0px;
  padding: 0px 20px;
  background-color: #FF5A21;
}
.section-body .nav-middle .search-img-custom .input-group .input-group-append span i{
  color: white;
}
.section-body .nav-middle .hotline-custom{
  text-align: right;
  width: 100%;
}
.section-body .nav-middle .hotline-custom .nav-middle-img{
  float: right;
  width: 30%;
}
.section-body .nav-middle .hotline-custom .hotline{
  float: right;
  width: 30%;
}

.section-body .nav-middle .top {
  background-image: url("../upload/search-dash-bg.png");
}

.section-body .nav-middle .top .hotline .inner span {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}
.section-body .nav-middle .top .hotline .inner b {
  text-transform: uppercase;
  font-weight: bold;
  color: #c00017;
  font-size: 20px;
}

.section-body .nav-middle .top {
  padding: 30px;
}

.section-body .nav-middle .row {
  margin: 0 auto;
}

.section-body .input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}
.section-body .nav-right .nav-right-header {
  padding: 0px;
  text-align: center;
}
.section-body .nav-right {
  background: url("../upload/dash-right-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-color: rgb(68,104,151); */
  
}

.section-body .nav-right .nav-right-header .image img {
  width: 30%;
  border-radius: 50px;
}

.section-body .nav-right .nav-right-header .image .img-custom {
  width: 40%;
  border-radius: 0px;
}

.section-body .nav-right .nav-right-header .image b {
  background: #33aaab;
  width: 120px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 73px;
  border: 2px solid #e8ecf0;
  border-radius: 36px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 17px;
  padding-top: 3px;
  font-weight: normal;
  padding-bottom: 3px;
}

.section-body .nav-right .nav-right-header .image {
  text-align: center;
  margin-top: 30px;
}

.section-body .nav-right .text {
  color: white;
  background: #426697;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  border-radius: 3px;
  border: 1px solid #5d7798;
  margin-top: 20px;
}

.section-body .nav-right .level {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2e5180;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-body .nav-right hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  background-color: #2e5180;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-body .nav-right .information-text {
  text-align: center;
}

.section-body .nav-right .information-text .infor {
  color: #f4c533;
  font-size: 13px;
}

.section-body .nav-right .info-edit {
  text-align: center;
  background: #061e40;
  padding: 5px 0px;
  border-radius: 20px;
  border: 1px solid #4c6992;
  width: 60%;
  margin: 0 auto;
}

.section-body .nav-right .info-edit a {
  color: white;
  text-decoration: none;
  font-size: 80%;
}

.section-body .nav-right .info-edit:hover {
  background-color: #ffb400;
}
/* end-section-right */

/* section-left */

.section-body .nav-left .box {
  text-align: center;
  padding: 20px;
  background-color: #36588d;
  border-bottom: 1px solid #344979;
  width: 100%;
}
.section-body .nav-left .box p{
  color: white;
  text-transform: uppercase;
  font-size: 80%;
  margin: 10px 0px 0px;
}

.section-body .nav-left .box:hover {
  background-color: #3a639a;
  cursor: pointer;
  position: relative;
}

.section-body .nav-left .box img {
  width: 20%;
}

.section-body .nav-left .box .parent {
  top: 0px;
  position: absolute;
  left: 100%;
  width: 180px;
  background: #34598d;
  z-index: 999;
  display: none;
  padding: 0px;
}

.section-body .nav-left .box .parent a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.section-body .nav-left .box .parent a:hover {
  color: yellow;
}


.section-body .nav-left .box:hover ul {
  display: block;
}

.section-body .nav-left .box .child {
  display: inline-block;
  width: 100%;
  text-align: left;
  text-indent: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #425d84;
}

/* end-section-left */
@media only screen and (max-width: 1024px) {
  .section-header .section-header-left{
    width: 25%;
  }
  .section-header .section-right-custom{
    width: 75%;
  }
  .section-body .nav-middle .section-bottom .column-inside-bottom{
    width: 20%;
  }
  .section-body .nav-middle .section-bottom .column-inside-bottom .menu-bottom-custom{
    height: 99px;
  }
}

@media only screen and (max-width: 768px) {
  .section-header .section-header-left{
    width: 30% !important;
  }
  .section-header .section-right-custom{
    width: 70% !important;
  }
  .section-body .container-custom .nav-left{
    width: 15% !important;
  }
  .section-body .container-custom .nav-middle{
    width: 85% !important;
  }
  .section-body .nav-middle .search-img-custom .input-group{
    width: 100% !important;
  }
  .section-body .nav-middle .hotline-custom .hotline {
    width: 80% !important;
  }
  .section-body .nav-middle .hotline-custom .nav-middle-img {
    width: 90% !important;
  }
  .section-header .section-right-custom{
  padding: 35px 10px 0px;
  }
}

@media only screen and (max-width: 575px) {
  .section-header{
    padding-bottom: 20px;
  }
  .section-header .section-header-left{
    width: 100% !important;
  }
  .section-header .section-right-custom{
    width: 100% !important;
  }
  .section-header .section-header-right .section-header-right-custom .so-du{
    width: 35% !important;
  }
  .section-header .section-header-right .section-header-right-custom .icon{
    width: 18% !important;
  }
  .section-header .section-header-right .section-header-right-custom .avatar {
    width: 11% !important;
  }
  .section-header .section-header-right .section-header-right-custom .avatar img{
    width: 100% !important;
  }

  .section-body .container-custom .nav-middle{
    width: 100% !important;
  }
  .section-body .nav-middle .top{
    padding:15px ;
  }

  .section-body .nav-middle .search-img-custom .input-group{
    width: 100% !important;
  }


  .section-header-left .logo {
    text-align: center;
  }

  .section-body .nav-middle .column-inside-bottom {
    padding: 15px;
  }
  .section-body .box .parent {
    position: static;
    width: 100% !important;
  }
  .section-body .nav-middle .hotline-custom {
    text-align: left;
    width: 100% !important;
    float: left;
  }
  .section-body .nav-middle .hotline-custom .hotline {
    float: left;
    width: 40% !important;
  }
  .section-body .nav-middle .hotline-custom .nav-middle-img {
    float: left;
    width: 12% !important;
  }
  .section-body .nav-middle .hotline-custom .nav-middle-home-icon {
    float: right;
    width: 8% !important;
  }
  .section-body .nav-middle .hotline-custom .back-home {
    float: right;
    width: 20% !important;
  }
  .section-body .nav-middle .section-bottom .column-inside-bottom {
    width: 33% !important;
  }
  .section-header .section-right-custom{
    padding: 20px 10px 0px;
  }
  .section-body .nav-middle .section-bottom .column-inside-bottom .custom-text{
    font-size: 60% !important;
  }
}
