.lich-su-giao-dich-page-item .column-lich-su-giao-dich {
    padding-bottom: 300px;
  }
  
  .lich-su-giao-dich-page-item ul li {
    display: inline-block;
    width: 15%;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .lich-su-giao-dich-page-item .message-alert {
    background: #e5e5e5;
    padding-top: 20px;
    margin-top: 15px;
  }
  
  .lich-su-giao-dich-page-item .message-alert ul li.red b {
    color: red;
  }
  
  .lich-su-giao-dich-page-item .message-alert ul li.blue b {
    color: #2ea300;
    font-weight: 700;
  }
  
  .lich-su-giao-dich-page-item .message-alert ul li em {
    position: relative;
    font-style: inherit;
    top: -4px;
  }

  .lich-su-giao-dich-page-item .form-lich-su-giao-dich  {
    float: left;
    width: 100%;
  }
  .lich-su-giao-dich-page-item .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich{
    float: left;
    width: 20%;
    margin: 10px 10px 10px 0px;
  }
  .lich-su-giao-dich-page-item .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich input{
    height: 30px;
    width: 100%;
    text-indent: -1px;
    font-size: 90%;
  }
  .lich-su-giao-dich-page-item .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich select{
    width: 100%;
    height: 30px;
    text-indent: -1px;
    font-size: 90%;
  }
  .lich-su-giao-dich-page-item .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich-submit input{
    background-color: #0092D0;
    color: white;
    border: none;
    height: 30px;
    padding: 0px 15px; 
    margin: 10px 0px;
  }
  .lich-su-giao-dich-page-item .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich-submit input:hover{
    background-color: #14c383;
  }

  
  .lich-su-giao-dich-page-item .uk-text-right {
    text-align: right !important;
  }

  
  .lich-su-giao-dich-page-item .uk-button:not(:disabled) {
    cursor: pointer;
  }
  
  .lich-su-giao-dich-page-item .uk-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: white;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: #8cc14c;
    vertical-align: middle;
    line-height: 30px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
  }
  
  .lich-su-giao-dich-page-item table {
    float: left;
    width: 100%;
  }
  
  .lich-su-giao-dich-page-item table tr th {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    background: #0092d0;
    color: white;
    border-bottom: 2px solid #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .lich-su-giao-dich-page-item table tbody tr {
    background: none;
  }
  
  .lich-su-giao-dich-page-item tr.even,
  .lich-su-giao-dich-page-item tr.odd {
    background-color: #eee;
    border: 1px solid rgb(229, 229, 229);
    padding: 0.1em 0.6em;
  }
  
  .lich-su-giao-dich-page-item td.empty.message {
    color: red;
    text-align: center;
    font-size: 15px;
  }
  
  .lich-su-giao-dich-page-item table tbody tr td {
    padding: 5px;
    border: 1px solid #e5e5e5;
  }
  
  .lich-su-giao-dich-page-item .view-footer a.export-excel {
    float: left;
    max-width: 140px;
    margin-top: 0px;
    width: auto;
    clear: none;
    font-size: 15px;
    color: green;
  }

  @media only screen and (max-width: 575px) {
    .lich-su-giao-dich-page-item .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich{
      width: 47%;
    }
  }
  