.ruttien {
    padding-bottom: 100px;
  }
  
  .ruttien .ttcn-wrap-basic {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
  }
  
  .ruttien .ttcn-wrap-title {
    background: #f5f5f5;
    padding: 5px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
  
  .ruttien .ttcn-wrap-content {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
  }
  
  .ruttien .bottom {
    padding-bottom: 40px;
  }
  
  .ruttien form.khach-hang-rut-tien-add-form .form-item label {
    display: inline-block;
    margin-right: 10px;
    width: 90px;
    font-weight: normal;
  }
  
  .ruttien form.khach-hang-rut-tien-add-form .form-item input.form-text {
    width: 115px;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin-right: 4px;
  }
  
  .ruttien form.khach-hang-rut-tien-add-form .form-item .description {
    display: inline-block;
    font-size: 13px;
  }
  
  .ruttien .marker,
  .ruttien.form-required {
    color: #f00;
  }
  
  .ruttien form.khach-hang-rut-tien-add-form .form-item .description em {
    font-style: inherit;
    position: relative;
    top: -4px;
  }
  
  .ruttien form.khach-hang-rut-tien-add-form .form-item .description span {
    color: #55a809;
    font-weight: bold;
  }
  
  .ruttien .ttcn-wrap-content {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .ruttien .khach-hang-rut-tien-add-form table {
    width: 100%;
    margin-top: 5px;
  }
  
  .ruttien table.product-view-detail tr th {
    background: #0092d0;
    color: white;
  }
  .ruttien table tbody tr {
    background: none;
  }
  
  .ruttien tr.even,
  .ruttien tr.odd {
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    padding: 0.1em 0.6em;
  }
  
  .ruttien td.empty.message {
    color: red;
    text-align: center;
    font-size: 15px;
  }
  
  .ruttien table tbody tr td {
    padding: 5px;
    border: 1px solid #e5e5e5;
  }
  
  .ruttien table.product-view-detail tr th {
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #0092d0;
    color: white;
    text-indent: 10px;
  }
  
  .ruttien .uk-float-right {
    float: right;
  }
  
  .ruttien .uk-button-danger {
    background-color: #da314b;
    color: #fff;
    padding: 7px;
    text-decoration: none;
  }
  
  .ruttien .ttcn-wrap-content .add-account {
    text-decoration: none;
    color: white;
  }
  
  .ruttien .uk-alert-danger {
    display: inline-block;
    width: 98%;
    margin-top: 0px;
  }
  .ruttien .uk-alert-danger {
    background: #fff1f0;
    color: #d85030;
  }
  .ruttien .uk-alert {
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .ruttien form.khach-hang-rut-tien-add-form input.form-submit {
    background: #55a809;
    border: none;
    padding: 7px;
    min-width: 106px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .ruttien .lich-su-giao-dich-page-item-1 table {
    float: left;
    width: 100%;
    margin-top: 15px;
  }
  
  .ruttien .lich-su-giao-dich-page-item-1 table tr th {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    background: #0092d0;
    color: white;
    border-bottom: 2px solid #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  