.tat-ca-don-hang {
    background-color: #F2F4FA;
    padding: 20px 0px;
}

.tat-ca-don-hang .tatcadonhang-top{
    border: 1px solid #e5e5e5;
    float: left;
    width: 100%;
    padding: 2px 0px;
}

.tat-ca-don-hang .tatcadonhang-top .step-action{
    list-style: none;
}

.tat-ca-don-hang .tatcadonhang-top .step-action li{
    float: left;
    width: 10%;
}

.tat-ca-don-hang .tatcadonhang-top .step-action li a {
    color: black;
    text-decoration: none;
    font-size: 80%;
}

.tat-ca-don-hang .tatcadonhang-top .step-action li a span {
    padding: 0px 5px;
    background-color: #07A8E6;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    font-size: 90%;
    margin-left: 5px;
}

.tat-ca-don-hang .tatcadonhang-middle {
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.tat-ca-don-hang .tatcadonhang-middle div{
    float: left;
    width: 16%;
    padding: 7px 0px;
}
.tat-ca-don-hang .tatcadonhang-middle div input ,.tat-ca-don-hang .tatcadonhang-middle div select{
    width: 80%;
    height: 30px;
    font-size: 80%;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
    border-radius: 5px;
    text-indent: 5px;
}
.tat-ca-don-hang .tatcadonhang-middle div .custom-search-khieunai{
    background-color: #0092D0;
    color: white;
}
.tat-ca-don-hang .tatcadonhang-middle div .custom-search-khieunai:hover{
    background-color: #14c383;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both{
    float: left;
    width: 100%;
    font-size: 90%;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top {
    background: #6a7482;
    color: white;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left {
    float: left;
    width: 75%;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .order-item-top-left-left {
    background: #576477;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    margin-right: 20px;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .order-item-top-left-left .kho {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    background: #909aa6;
    padding: 3px;
    border-radius: 2px;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .order-item-top-left-left.order-code {
    margin-top: 4px;
    display: inline-block;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .order-item-top-left-left .order-code a {
    color: #FFC107;
    text-decoration: none;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .post {
    margin-top: 10px;
    float: left;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .so-kien {
    float: right;
    margin-top: 10px;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .so-kien a{
    color: #FFC107;
    text-decoration: none;
}
/* right */
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-right {
    float: right;
    margin-right: 20px;
    margin-top: 9px;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-right .status {
    padding: 5px;
    border-radius: 3px;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left{
    float: left;
    width: 75%
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item {
    background: #ffffff;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-item-top {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-item-top .stt {
    display: inline-block;
    min-width: 40px;
    text-align: center;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-item-top .name b {
    font-weight: normal;
    color: #1d4172;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-item-top .dich-vu-khac {
    float: right;
    margin-right: 10px;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-item-top .dich-vu-khac span {
    margin-left: 10px;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-product-list table {
    width: 100%;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-product-list tbody {
    border-top: 1px solid #ccc;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-product-list tr td {
    border: 1px solid #f4f6fa;
    padding: 5px;
    text-align: center;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-product-list tr td a{
    color: black;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-product-list tr td a img{
    width: 30%;
    padding: 20px;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-product-list tr td .property {
    display: block;
    color: #908e8e;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-product-list tr td .price-red {
    color: #e40000;
}







.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right{
    float: right;
    width: 24%;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right ul {
    padding: 0px;
    margin: 0px;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #e5e5e5;
    position: relative;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right ul li b {
    float: right;
    margin-right: 20px;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right ul .blue {
    background: #f5f9ff;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right .action {
    margin-top: 20px;
}

.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right .action a {
    border: 1px solid #efefef;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    color: #6b6a6a;
}
.tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right .action i {
    text-align: left;
    text-indent: 10px;
    float: left;
    margin-top: 5px;
}

@media only screen and (max-width: 1024px){
    .tat-ca-don-hang .tatcadonhang-top .step-action li {
        width: 20%;
    }
}

@media only screen and (max-width: 768px){
    .tat-ca-don-hang .tatcadonhang-top .step-action li {
        width: 25%;
    }
    .tat-ca-don-hang .tatcadonhang-middle div {
        width: 33%;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both {
        font-size: 80%;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right ul {
        font-size: 80%;
    }
}

@media only screen and (max-width: 575px){
    .tat-ca-don-hang .tatcadonhang-top .step-action li {
        width: 50%;
    }
    .tat-ca-don-hang .tatcadonhang-middle div {
        width: 50%;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left {
        width: 100%;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .order-item-top-left-left {
        background: #576477;
        float: left;
        padding: 0px;
        margin:0px;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .post {
        margin: 0px;
        padding: 0px 10px;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-left .so-kien {
        float: right;
        margin: 0px;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-top .order-item-top-right {
        float: left;
        margin-right: 20px;
        margin-top: 9px;
        width: 100%;
        text-align: center;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left {
        width: 100%;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-left .ncc-item .ncc-product-list tr td a img {
        width: 30%;
        padding: 5px;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right {
        float: left;
        width: 100%;
    }
    .tat-ca-don-hang .tatcadonhang-bottom .block-both .order-item-product-right ul {
        font-size: 100%;
    }
}