.khieunai {
    background-color: #F2F4FA;
    padding: 20px 0px;
}
.khieunai .column-khieunai .khieu-nai-top {
    border:1px solid #e5e5e5;
    float: left;
    width: 100%;
    padding: 2px 0px
}
.khieunai .column-khieunai .khieu-nai-top .step-action{
    list-style: none;
}

.khieunai .column-khieunai .khieu-nai-top .step-action li{
    float: left;
    width: 15%;
}

.khieunai .column-khieunai .khieu-nai-top .step-action li a{
    color: black;
    text-decoration: none;
    font-size: 80%;
}
.khieunai .column-khieunai .khieu-nai-top .step-action li a span{
    padding: 0px 5px;
    background-color: #07A8E6;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    font-size: 90%;
    margin-left: 5px;
}

.khieunai .column-khieunai .khieu-nai-middle {
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.khieunai .column-khieunai .khieu-nai-middle div{
    float: left;
    width: 20%;
    padding: 7px 0px;
}
.khieunai .column-khieunai .khieu-nai-middle div input ,.khieunai .column-khieunai .khieu-nai-middle div select{
    width: 80%;
    height: 30px;
    font-size: 80%;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
    border-radius: 5px;
    text-indent: 5px;
}
.khieunai .column-khieunai .khieu-nai-middle div .custom-search-khieunai{
    background-color: #0092D0;
    color: white;
}
.khieunai .column-khieunai .khieu-nai-middle div .custom-search-khieunai:hover{
    background-color: #14c383;
}

.khieunai .column-khieunai .khieu-nai-bottom{
    padding: 20px 0px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.khieunai .column-khieunai .khieu-nai-bottom table{
    width: 100%;
}
.khieunai .column-khieunai .khieu-nai-bottom table tr th{
    text-align: center;
    font-weight: 500;
    background-color: #0092D0;
    color: white;
    border-bottom: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 90%;
    padding: 5px 0px;
}
.khieunai .column-khieunai .khieu-nai-bottom table tr td{
    font-size: 90%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 5px 0px;
}

.khieunai .column-khieunai .khieu-nai-bottom table tr .nothing-khieunai-bottom{
    font-size: 100%;
    background-color: #EEEEEE;
    color: red;
}

@media only screen and (max-width: 1024px) {
    .khieunai .column-khieunai .khieu-nai-top .step-action li{
        width: 20%;
    }
}

@media only screen and (max-width: 575px) {
    .khieunai .column-khieunai .khieu-nai-top .step-action li{
        width: 50%;
    }
    .khieunai .column-khieunai .khieu-nai-middle div{
        width: 50%;
    }
    .khieunai .column-khieunai .khieu-nai-middle div input ,.khieunai .column-khieunai .khieu-nai-middle div select{
        width: 95%;
    }
}