.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap{
   width: 100%;
   background: #f5f5f5;
   margin: 20px 0px;
   padding: 10px 0px;
}

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap table {
    width: 100%;
}

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap table tr th {
    background-color: #185493;
    color: white;
    font-size: 80%;
    font-weight: 500;
    padding: 5px 0px;
}

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap table tr th strong{
    background-color: #FFFF00;
    padding: 0px 5px;
    border-radius: 99px;
    color: black;
    margin-left: 5px;
}

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all{
    float: left;
    width: 100%;
    padding: 0px 10px;
}
.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all .input-single{
    float: left;
    width: 50%;
    padding: 7px 0px;
}
.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all .input-single p{
    float: left;
    width: 25%;
    margin: 0px;
    font-size: 90%;
}
.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all .input-single input{
    float: left;
    width: 40%;
    height: 23px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
    text-indent: 5px;
}

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all{
    float: left;
    width: 100%;
    padding: 10px 10px;
} 

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all .input-single {
    float: left;
    width: 25%;
    padding: 7px 0px;
}
.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all .input-single input,.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all .input-single select{
    width: 60%;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    text-indent: 5px;
    font-size: 80%;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
}

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all{
    float: left;
    width: 100%;
    padding: 10px 10px;
} 

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all .input-single {
    float: left;
    width: 25%;
    padding: 7px 0px;
}
.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all .input-single input,.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all .input-single select{
    width: 60%;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    text-indent: 5px;
    font-size: 80%;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
}
.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap #phuong-thuc-lien-he, .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap #tai-khoan-ngan-hang {
    font-size: 80%;
    color: black;
    text-decoration: none;
}

.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap #phuong-thuc-lien-he:hover, .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap #tai-khoan-ngan-hang:hover {
    color: #0056b3;
}
@media only screen and (max-width: 1024px) {
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all .input-single p{
        width: 50%;
    }
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all .input-single input{
        width: 45%;
    }
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all .input-single input,.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all .input-single select{
        width: 80%;
    }
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all .input-single input,.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all .input-single select{
        width: 80%;
    }
}

@media only screen and (max-width: 575px) {
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all .input-single{
        width: 100%;
    }
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all .input-single p{
        width: 50%;
    }
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-thong-tin-chung .input-all .input-single input{
        width: 50%;
    }

    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all .input-single {
        width: 50%;
    }
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all .input-single input,.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-phuong-thuc-lien-he .input-all .input-single select{
        width: 90%;
    }
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all .input-single {
        width: 50%;
    }
    .them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all .input-single input,.them-moi-nha-cung-cap .table-them-moi-nha-cung-cap .form-tai-khoan-ngan-hang .input-all .input-single select{
        width: 90%;
    }
}