.thong-tin-ca-nhan{
    background-color: #F2F4FA;
}

.thong-tin-ca-nhan .thongtincanhan-top{
    float: left;
    width: 100%;
    margin: 10px 0px;
}

.thong-tin-ca-nhan .thongtincanhan-top .top-title{
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    padding: 5px 10px;
}

.thong-tin-ca-nhan .thongtincanhan-top .top-title strong{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 85%;
}
.thong-tin-ca-nhan .thongtincanhan-top .input-all{
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    padding: 10px;
}

.thong-tin-ca-nhan .thongtincanhan-top .input-all .input-single{
    float: left;
    width: 100%;
    padding: 5px 0px;
}
.thong-tin-ca-nhan .thongtincanhan-top .input-all .input-single strong{
    float: left;
    width: 15%;
    font-size: 90%;
    font-weight: 500;
}

.thong-tin-ca-nhan .thongtincanhan-top .input-all .input-single strong sup{
    color: red;
    font-weight: 800;
}
.thong-tin-ca-nhan .thongtincanhan-top .input-all .input-single input{
    float: left;
    width: 24%;
    font-size: 90%;
    font-weight: 500;
    border: 1px solid #ddd;
    height: 26px;
}

.thong-tin-ca-nhan .thongtincanhan-middle{
    float: left;
    width: 100%;
    margin: 10px 0px;
}

.thong-tin-ca-nhan .thongtincanhan-middle .top-title{
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    padding: 5px 10px;
}

.thong-tin-ca-nhan .thongtincanhan-middle .top-title strong{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 85%;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all{
    border: 1px solid #ddd;
    float: left;
    width: 100%;
    padding: 10px;
}

.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single{
    float: left;
    width: 100%;
    padding: 5px 0px;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single strong{
    float: left;
    width: 15%;
    font-size: 90%;
    font-weight: 500;
}

.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single strong sup{
    color: red;
    font-weight: 800;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single input{
    float: left;
    width: 24%;
    font-size: 90%;
    font-weight: 500;
    border: 1px solid #ddd;
    height: 26px;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single select{
    float: left;
    width: 12%;
    font-size: 90%;
    border: 1px solid #ddd;
    height: 26px;
}

.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho{
    float: left;
    width: 24%;
}

.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho .quan-huyen{
    float: left;
    width: 45%;
    margin-right:5%;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho .pho-phuong{
    float: left;
    width: 50%;
}

.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single-dob{
    float: left;
    width: 100%;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single-dob strong{
    float: left;
    width: 15%;
    font-size: 90%;
    font-weight: 500;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single-dob div{
    float: left;
    width: 24%;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single-dob div input{
    float: left;
    width: 100%;
    font-size: 90%;
    font-weight: 500;
    border: 1px solid #ddd;
    height: 26px;
}
.thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single-dob div span{
    font-size: 70%;
}

.thong-tin-ca-nhan .thongtincanhan-bottom{
    float: left;
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #ddd;
}

.thong-tin-ca-nhan .thongtincanhan-bottom .top-title{
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    padding: 5px 10px;
}

.thong-tin-ca-nhan .thongtincanhan-bottom .top-title strong{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 85%;
}
.thong-tin-ca-nhan .thongtincanhan-bottom .top-content{
    float: left;
    width: 100%;
    padding:10px;
}

.thong-tin-ca-nhan .thongtincanhan-bottom .addresscon{
    padding: 6px;
    background: url(../upload/addonebgs.png);
    float: left;
    width: 100%;
}

.thong-tin-ca-nhan .thongtincanhan-bottom .addresscon ul {
    padding: 20px 25px;
    background-color: #fff;
    margin: 0px;
    list-style: none;
}

.thong-tin-ca-nhan .thongtincanhan-bottom .addresscon ul li{
    font-size: 80%;
}

.thong-tin-ca-nhan .submit-thongtin input{
    margin-top: 10px;
    background: #185493;
    padding: 7px 15px;
    color: white;
    border: 0px;
}
.thong-tin-ca-nhan .submit-thongtin input:hover{
    background: #fb5d14;
}

@media only screen and (max-width: 1024px) {
    .thong-tin-ca-nhan .input-all .input-single strong ,.thong-tin-ca-nhan .input-all .input-single-dob strong{
        width: 30% !important;
    }
    .thong-tin-ca-nhan .input-all .input-single input ,.thong-tin-ca-nhan .input-all .input-single-dob div ,.thong-tin-ca-nhan .input-all .input-single select{
        width: 50% !important;
    }
    .thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho{
        width: 50%;
    }
    .thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho .quan-huyen{
        width: 45% !important;
        margin-bottom: 10px;
    }
    .thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho .pho-phuong{
        width: 50% !important;
    }
}

@media only screen and (max-width: 575px) {
    .thong-tin-ca-nhan .input-all .input-single strong ,.thong-tin-ca-nhan .input-all .input-single-dob strong{
        width: 40% !important;
    }
    .thong-tin-ca-nhan .input-all .input-single input ,.thong-tin-ca-nhan .input-all .input-single-dob div ,.thong-tin-ca-nhan .input-all .input-single select{
        width: 60% !important;
    }
    .thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho{
        width: 60%;
    }
    .thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho .quan-huyen{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .thong-tin-ca-nhan .thongtincanhan-middle .input-all .input-single .tinh-thanh-pho .pho-phuong{
        width: 100% !important;
    }
}
